<template lang="pug">
    .app
      b-container(fluid)
          .base-wrapper
            side_bar
            #page-content
              router-view

</template>


<script>

import Side_bar from "../components/common/sidebar/side_bar";


export default {
  components: {Side_bar},
  data() {
    return {
    }
  },
  methods: {
  }
}
</script>

<style scoped>
.container-fluid {
  padding: 0;
}
.base-wrapper {
  display: flex;
  width: 100%;
  /*align-items: stretch;*/
}
#page-content {

  width: calc(100% - 250px);
  margin-left: 250px;
  padding: 40px;
  min-height: 100vh;
  transition: all 0.3s;
}
</style>
