.col-lg-4.offset-lg-4
  - flash.each do |name, msg|
    = content_tag :div, msg, class: 'alert alert-warning mt-3'
  .card.mt-5
    .card-header
      h2 Вход
    .card-body
      = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .form-inputs
          = f.input :email, required: false, autofocus: true, input_html: { autocomplete: "email" }
          = f.input :password, required: false, input_html: { autocomplete: "current-password" }
          = f.input :remember_me, as: :boolean if devise_mapping.rememberable?

        .form-actions
          = f.button :submit, "Войти", class: 'btn btn-primary'
      hr
      = render "users/shared/links"
