<template lang="pug">
  div
    h1 Слоги
    hr
    .my-3
      b-button-group
        b-button(
          v-for="letter in vowel_letters"
          @click="changeSyllables(letter)"
          variant='outline-secondary'
          ) {{letter.letter}}
      b-button(@click="shuffleSyllables" variant='outline-warning' class="ml-3") Перемешать
    hr
    .syllables-list
      syllable_item(
        v-for="(syllable, i) in syllables"
        :syllable="syllable"
        @clicked="changeSyllable(i)"
        )

</template>

<script>
import Syllable_item from "./syllable_item";
import { VOWEL_LETTERS, CONSONANT_LETTERS, WRONG_SYLLABLES } from "../../constants/syllables";


export default {
  name: "syllables",
  components: {Syllable_item},
  props: ['syllables_const'],
  data() {
    return {
      selected_letter: undefined,
      vowel_letters: VOWEL_LETTERS,
      syllables: [],
    }
  },
  methods:{
    changeSyllables(letter){
      this.$set(this, 'selected_letter', letter);
      this.$set(this, 'syllables', this.generateSyllablesFor(letter));
    },
    changeSyllable(index){
      console.log(index);
      let vowel =     this.syllables[index][1],
          consonant = this.syllables[index][0],
          wrong = true,
          old_vowel = this.syllables[index][1];
      while(wrong && (vowel === old_vowel)) {
        vowel = _.shuffle(VOWEL_LETTERS)[0].letter;
        wrong = WRONG_SYLLABLES.includes(`${consonant}${vowel}`);
      }
      this.syllables.splice(index,1, `${consonant}${vowel}`);
    },
    shuffleSyllables(){
      this.$set(this, 'syllables', _.shuffle(this.syllables));
    },
    generateSyllablesFor(letter){
      let vowel = letter.letter;
      let arr = _.map(CONSONANT_LETTERS, (consonant) => {
          return `${consonant}${vowel}`;
      });

      return _.reject(arr, (el) => { return WRONG_SYLLABLES.includes(el) });
    },
  }
}
</script>

<style scoped>
 .syllables-list {
   display: flex;
   flex-wrap: wrap;
   padding: 30px 0;
 }
 .syllables-list .syllable{
   cursor: pointer;
 }
</style>