<template lang="pug">
  b-card(class="mr-3 mb-3")
    .syllable(:class="syllable_width" @click="$emit('clicked', index)")
      letter_item(v-for="letter in letters" v-bind="letter")
</template>

<script>
import Letter_item from "../letter_item";
import { VOWEL_LETTERS, CONSONANT_LETTERS} from "../../constants/syllables";

export default {
  name: "syllable_item",
  components: {Letter_item},
  props: ['syllable', 'index'],
  data(){
    return {
    }
  },
  computed:{
    letters() {
      return this.compose_letters(this.syllable);
    },
    syllable_width(){
      return `syllable-${this.syllable.length}-letter`
    }
  },
  methods:{
    compose_letters(syllable){
      return _.map(syllable, (letter)=>{
        return {
          letter,
          css_style: this.letter_class(letter),
        }
      });
    },
    letter_class(letter){
      let vowel = _.find(VOWEL_LETTERS, {letter: letter})
      if (vowel) {
        return vowel.css;
      } else {
        return 'base'
      }
    }
  }
}
</script>

<style scoped>
  .syllable {
    display: flex;
    justify-content: center;
    cursor: pointer;
  }
  .syllable-1-letter { width: 75px; }
  .syllable-2-letter { width: 165px; }
  .syllable-3-letter { width: 220px; }
  .syllable-4-letter { width: 290px; }
</style>