<template lang="pug">
  span(:class="css_class") {{ letter }}
</template>

<script>
export default {
  name: "letter_item",
  props: ['letter', 'css_style'],
  computed: {
    css_class () {
      return `letter letter-${this.css_style}`
    }
  },
}
</script>

<style scoped>
 .letter{
   font-size: 80px;
 }
 .letter-base {
   color: #515254;
 }
 .letter-vowel-1 { color: #054c8f; }
 .letter-vowel-2 { color: #19864a; }
 .letter-vowel-3 { color: #db7302; }
 .letter-vowel-4 { color: #591da7; }
 .letter-vowel-5 { color: #b30890; }
 .letter-vowel-6 { color: #823322; }
 .letter-vowel-7 { color: #708619; }
 .letter-vowel-8 { color: #c83838; }
 .letter-vowel-9 { color: #9c870a; }
 .letter-vowel-10 { color: #0d8372; }

</style>