<template lang="pug">
  .profile-wrapper
    //.profile-avatar
    //  img(src="https://randomuser.me/api/portraits/women/81.jpg")


    .profile-info
      //.profile-title Диана Маслакова
      .profile-subtitle {{ profile.email }}

</template>

<script>
export default {
name: "profile_info",
  data(){
    return {
      profile: {},
      loading: true,
    }
  },
  beforeMount() {
    this.$api.profile.info()
        .then((res) => {
          this.profile = res.data.data.attributes;
        })
        .catch((error) => {
          // handle error
          console.log(error);
        })
        .then(() => {
          // always executed
          this.loading = false;
        });

  }
}
</script>

<style scoped>

</style>