<template lang="pug">
  svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" role="img" aria-hidden="true" class="mdi-icon__svg")
    path(:d="icon")

</template>

<script>
export default {
  name: "md_icon",
  props: ['icon'],
}
</script>

<style scoped>
 .mdi-icon__svg{
   fill: currentColor;
   width: 24px;
   height: 24px;
 }
</style>