<template lang="pug">
  b-card(class="mr-3 mb-3 quest-answer-card" @click="$emit('clicked')")
    .quest-answer-content {{content}}
</template>

<script>
export default {
name: "QuestAnswer",
  props:{
    mode: String,
    size: String,
    right: Boolean,
    content: [String, Object],
  },


}
</script>

<style scoped>
  .quest-answer-card:hover {
    background-color: lemonchiffon;
    transition: all .3s ease;
  }
  .quest-answer-content {
    padding: 30px 45px;
    font-size: 50px;
    cursor: pointer;
    color: #2E2F30;
  }
</style>