<template lang="pug">
  .quest-box
    b-carousel(
      ref="questCarousel"
      v-model="current_quest"
      img-width="1200px"
      img-height="580px"
      controls
      indicators
      :interval="0"
      background="#eaeaea"
      style="text-shadow: 1px 1px 2px #333;"
      )
      b-carousel-slide(
          v-for="(quest, i) in quests"
          :key="quest.id"
          img-blank
          )
        b-row(
              class="fill-height"
              align="center"
              justify="center"
              )
          b-col
            h1 Выбери ответ
            quest-task( v-bind="quest" @choose="next_quest")
</template>

<script>
import QuestTask from "./QuestTask";
export default {
name: "QuestBox",
  components: {QuestTask},
  props: {
    quests: {
      type: Array,
      default: []
    }
  },
  data(){
    return {
      current_quest: 0,
    }
  },
  methods: {
    next_quest(){
      console.log('next_quest');
      this.$refs.questCarousel.next();
      this.$refs.questCarousel.pause();
    }
  },
}
</script>

<style scoped>

</style>