<template lang="pug">
  div
    h1 Задания
    hr
    .my-3
      b-button-group
        b-button(
          v-for="quest_type in quest_types"
          @click="set_quests(quest_type)"
        ) {{quest_type}}
    hr
    quest-box(:quests="quests")
</template>

<script>
import {QUESTS_MATH, QUEST_TYPES} from "../../constants/quests";
import QuestBox from "./QuestBox";

export default {
name: "QuestList",
  components: {QuestBox},
  props: {
    quests_data:{
      type: Array,
      default: [],
    },
  },
  data(){
    return {
      quests: [],
      quest_types: QUEST_TYPES,
    }
  },
  methods:{
    set_quests(quest_type){
      // this.quests = eval(`QUESTS_${quest_type}`)
      if (quest_type === 'MATH') this.quests = QUESTS_MATH;
    },
  }
}
</script>

<style scoped>

</style>