<template lang="pug">
  .quest-task
    .display-3.quest-task--text {{ text }}
    .quest-answers
      quest-answer(v-for="(answer, i) in shuffle(answers.items)" v-bind="answer" @clicked="choose_answer")
</template>

<script>
import QuestAnswer from "./QuestAnswer";
export default {
name: "QuestTask",
  components: {QuestAnswer},
  props:{
    text: String,
    answers: Object,
  },
  methods:{
    choose_answer(answer){
      console.log('choose_answer');
      this.$emit('choose', answer);
    },
    shuffle(array){
      for (let i = array.length - 1; i > 0; i--) {
        let j = Math.floor(Math.random() * (i + 1));
        [array[i], array[j]] = [array[j], array[i]];
      }
      return array;
    }
  }

}
</script>

<style scoped>
  .quest-answers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
  }
  .quest-task--text {
    color: #2E2F30;
    padding: 40px 0;
  }
</style>