<template lang="pug">
  .day-work
    v-btn-toggle(v-model="result")
      v-tooltip(v-for="(icon, i) in icons" top)
        template(v-slot:activator="{ on, attrs }")
          v-btn(
            v-bind="attrs"
            v-on="on"
            @click="send_result(i)"
            :color="result_color(i, result)"
            )
            v-icon(:color="icon_colors[i]") {{icon}}
        span {{result_desc(i)}}
</template>

<script>
export default {
name: "day_work",
  props: {
    day_work: Object,
    work: Object,
  },
  data(){
    let r = this.day_work.attributes  ? this.day_work.attributes.result : undefined
    return {
      result: r,
      loading: false,
      icon_colors: ['red', 'green', 'green', 'green'],
      icons: this.$store.state.works.result_icons
    }
  },
  watch:{
    day_work(new_day_work){
      this.result = new_day_work.attributes ? new_day_work.attributes.result : undefined;
    },
  },
  // updated(){
  //   this.result = this.day_work.attributes ? this.day_work.attributes.result : undefined;
  // },
  methods:{
    result_color(i, res){
      if (!(i == res)) {return ''}
      if (i==0) {
        return '#ffb4af';
      } else if (i==1) {
        return '#d2f9b5';
      } else if (i==2) {
        return '#d2f9b5';
      } else if (i==3) {
        return '#d2f9b5';
      }

    },
    result_desc(i){
      if (i==0) {
        return 'Не выполнено';
      } else if (i==1) {
        return this.work.desc_10;
      } else if (i==2) {
        return this.work.desc_50;
      } else if (i==3) {
        return this.work.desc_100;
      }
    },
    send_result(i){
      console.log(i);
      this.loading = true;
      this.$api.day_works.update(this.day_work.id, {
        day_work:{
          result: i,
        }
      })
      .then((res) => {
         this.$emit('change_result', res.data.data);
      })
      .catch((error) => {
        // handle error
        console.log(error);
      })
      .then(() => {
        // always executed
        this.loading = false;
      });
    }
  }

}
</script>

<style scoped>

</style>