<template lang="pug">
  .day-switcher
    v-btn-toggle(v-model="selected_btn" color="white")
      v-menu( v-model="date_picker_show"
              :close-on-content-click="false"
              transition="scale-transition"
              offset-y
              max-width="290px"
              min-width="auto")

        template( v-slot:activator="{ on, attrs }")
          v-btn( :color="color_btn_for(0)"
                 v-bind="attrs"
                 v-on="on") {{humanized_date}}
        v-date-picker(
            v-model="local_date"
            no-title
            @input="select_date")
      v-btn(@click="set_date(before_yesterday)" :color="color_btn_for(1)") Позавчера
      v-btn(@click="set_date(yesterday)" :color="color_btn_for(2)") Вчера
      v-btn(@click="set_date(today)" :color="color_btn_for(3)") Сегодня

</template>

<script>
import moment from 'moment';

export default {
name: "day_switcher",
  props: {
    day: [Date, Number],
  },
  data(){
    const today = new Date().setHours(0,0,0,0);
    const yesterday = moment(today).subtract(1, 'days');
    const before_yesterday = moment(today).subtract(2, 'days');
    return{
      today,
      yesterday,
      before_yesterday,
      date_picker_show: false,
      local_date: moment(this.day).format('yyyy-MM-DD'),
      selected_btn: 3,
    }
  },
  computed:{
    humanized_date(){
      return moment(this.local_date).format('yyyy-MM-DD');
    }

  },
  methods:{
    color_btn_for(n){
      return this.selected_btn == n ? 'info' : ''
    },
    receive_date(){
      this.$emit('change_date', this.local_date);
    },
    set_date(date){
      this.local_date = moment(date).format('yyyy-MM-DD');
      this.receive_date();
    },
    select_date(date){
      const new_date = Date.parse(date);
      if (new_date == this.today) { this.selected_btn = 3}
      if (new_date == this.yesterday) { this.selected_btn = 2}
      if (new_date == this.before_yesterday) { this.selected_btn = 1}
      this.date_picker_show = false;
      this.receive_date();
    }
  }
}
</script>

<style scoped>

</style>