<template lang="pug">
   v-dialog(v-model="show" max-width="500")
     template( v-slot:activator="{ on, attrs }")
       v-btn(
         color="secondary"
         dark
         v-bind="attrs"
         v-on="on")
         v-icon {{icon}}


     v-card
       v-container
         v-row
           v-col
             v-btn(v-for="(icon, k) in icons" class="mb-2 mr-2" @click="on_select(k)")
               v-icon {{icon}}
</template>

<script>
export default {
name: "icon_select",
  props:{icon: String},
  data(){
    return{
      show: false,
      attrs:{},
      icons: this.$store.state.works.icons,
    }
  },
  methods:{
    on(){
      alert('ON');
    },
    on_select(icon_name){
      this.$emit('select', icon_name);
      this.show = false;
    }

  }
}
</script>

<style scoped>

</style>