<template lang="pug">
  v-sheet(max-width='150')
    v-sparkline(
      :value="values"
      :labels="labels"
      :gradient="gradient"
      :smooth="radius || false"
      :padding="padding"
      :line-width="width"
      :stroke-linecap="lineCap"
      :gradient-direction="gradientDirection"
      :fill="fill"
      :type="type"
      :auto-line-width="autoLineWidth"
      auto-draw)

</template>

<script>

export default {
name: "work_sparkline",
  props:{
    data: Array,
  },
  data(){
    return {
      width: 3,
      radius: 10,
      padding: 3,
      lineCap: 'round',
      gradient: ['lime','violet','orange'],
      value: [],
      gradientDirection: 'top',
      fill: false,
      type: 'trend',
      autoLineWidth: false,
    }
  },
  computed:{
    values(){
      let sum = 0;
      return _.map(this.data, (el) => {
        return sum += el.points;
      });
    },
    labels(){
      const week_days = ['ВС','ПН','ВТ','СР','ЧТ','ПТ','СБ'];
      return _.map(this.data, (el) => {
        return week_days[new Date(Date.parse(el.day)).getDay()]
      });
    },
  }
}
</script>

<style scoped>

</style>