<template lang="pug">
  .work-item
    v-list-item
      v-list-item-avatar
        v-icon(
          )  {{icon}}

      v-list-item-content
        v-row
          v-col
            v-list-item-title(v-text="work.title")
            v-list-item-subtitle( v-text="result_desc")
          v-col
            work_sparkline(:data="work.last_points")
      v-list-item-action
        v-row
         v-col
          day_work(
            :day_work="day_work"
            :work="work"
            @change_result="update_day_work"
            )
         v-col
          v-btn(icon @click="goto_edit")
            v-icon {{edit_icon}}
    v-divider()
</template>

<script>
import Day_work from "./day_work";
import moment from "moment";
import Work_sparkline from "./work_sparkline";

export default {
name: "work_item",
  components: {Work_sparkline, Day_work},
  props:{
    work: Object,
    day: [Date, Number],
  },
  data(){
    return {
      day_work: {},
      loading: true,
    }
  },
  computed:{
    day_formatted_for_server(){
      return moment(this.day).format(this.$api.api_prop.server_day_format);
    },
    edit_icon(){
      return this.$store.state.ui.icons.edit;
    },
    icon(){
      return this.$store.state.works.icons[this.work.icon];
    },
    day_work_attributes(){
      return this.day_work.attributes;
    },
    points(){
      return this.day_work_attributes ? this.day_work_attributes.total_points : '';
    },
    day_work_result(){
      return this.day_work_attributes ? this.day_work_attributes.result : 0;
    },
    result_desc(){
      const i = this.day_work_result;
      if (i==0) {
        return 'Не выполнено';
      } else if (i==1) {
        return this.work.desc_10;
      } else if (i==2) {
        return this.work.desc_50;
      } else if (i==3) {
        return this.work.desc_100;
      }
    },
  },
  watch:{
    work(newWork){
      if (newWork.id) {
        this.get_day_work()
      }
    },
    day(){
      this.get_day_work();
    },
  },
  mounted(){
    this.get_day_work();
  },
  methods:{
    get_day_work(){
      this.$api.day_works.show(this.work.id, this.day_formatted_for_server)
          .then((res) => {
            this.day_work = res.data.data;
          })
          .catch((error) => {
            console.log(error);
          })
          .then(() => {
            this.loading = false;
          });
    },
    update_day_work(data){
      this.day_work = data;
    },
    goto_edit(){
      this.$router.push({
        path: `/works/${this.work.id}`
      })
    },
  }
}
</script>

<style scoped>

</style>