<template lang="pug">
  .work-list
    v-row
      v-col
        h1 Дела

      v-col
        v-btn(to="/works/new" color="info" class="float-right") Добавить дело
    v-divider(class="mb-3 mt-3")
    day_switcher(:day="day" @change_date="set_date")
    v-divider(class="mb-3 mt-3")
    v-row
      v-col
        v-card(outlined)
          v-list(subheader
                 two-line)
            //v-subheader(inset) Категория

            work_item(v-for="work in works" :work="work.attributes" :day="day")
            //v-divider(inset)

    router-view
</template>

<script>
import Work_item from "./work_item";
//import {WORKS} from "../../constants/works";
import moment from 'moment'
import Day_switcher from "./day_switcher";
export default {
name: "works_list",
  components: {Day_switcher, Work_item},
  data(){
    const today = new Date().setHours(0,0,0,0);
    return {
      day: today,
    }
  },
  computed: {
    works(){
      return this.$store.getters['works/all_works']
    },
  },
  beforeMount(){
    this.$store.dispatch('works/get_works');
  },
  methods:{
    set_date(date){
      this.day = Date.parse(date);
    },
  },
}
</script>

<style scoped>

</style>