<template lang="pug">
  v-dialog(
    v-model="show"
    @click:outside="go_to_list"
    max-width="600"
    )
    v-card
      v-toolbar(
        dark
        )
        v-toolbar-title {{localWork.title}}
        v-spacer
        v-toolbar-items
          v-btn(dark text @click="go_to_list") Закрыть
      v-container
        v-form
          v-row
            v-col
              v-text-field(
                v-model="localWork.title"
                :counter="100"
                label="Название"
                outlined
                required
                )
              v-select(
                v-model="localWork.complexity"
                :items="complexity_options"
                outlined
                label="Сложность"
                )
              v-row
                v-col
                  v-select(
                    v-model="localWork.frequency_type"
                    :items="frequency_type_options"
                    outlined
                    label="Частота"
                    )
                v-col
                  v-text-field(
                    v-model="localWork.frequency"
                    type="number"
                    label="Раз"
                    outlined
                    required
                    )
              icon_select(:icon="selected_icon" @select="set_icon")
              v-divider(class="my-3")
                //:rules="nameRules"
              v-text-field(
                v-model="localWork.desc_10"
                :counter="100"
                label="Минимум"
                outlined
                )
              v-text-field(
                v-model="localWork.desc_50"
                :counter="100"
                label="Норма"
                outlined
                )
              v-text-field(
                v-model="localWork.desc_100"
                :counter="100"
                label="Максимум"
                outlined
                )
        v-btn(@click="save_work" color="primary" class="mr-3") Сохранить
        v-btn(@click="go_to_list") Закрыть
</template>

<script>
import Icon_select from "./icon_select";
export default {
  name: "work_form",
  components: {Icon_select},
  data(){
    return {
      show: true,
      // id: this.$route.params.id,
      localWork: {
        title: '',
        complexity: 1,
        icon: 'star',
      },
      complexity_options: [
        {text: 'Легкая', value: 1},
        {text: 'Средняя', value: 2},
        {text: 'Сложная', value: 3},
      ],
      frequency_type_options: [
        {text: 'Каждый день', value: 'every_day'},
        {text: 'Каждую неделю', value: 'every_week'},
        {text: 'Каждый месяц', value: 'every_month'},
        {text: 'раз в неделю', value: 'in_week'},
        {text: 'раз в месяц', value: 'in_month'},
      ],
      // work: this.$store.getters['works/work'](this.id),
    }
  },
  computed: {
    selected_icon(){
      return this.$store.state.works.icons[this.localWork.icon]
    },
    id() {
      return this.$route.params.id;
    },
  },
  watch:{
    id(newVal) {
      console.log("New ID: ", newVal);
      this.set_work();
    }
  },
  created() {
    console.log("created id: ",this.$route.params.id);
    this.set_work();
  },
  beforeUpdate() {
    console.log("beforeUpdate id: ",this.$route.params.id);
  },
  methods:{
    set_work(){
      const obj = this.$store.getters['works/work'](this.id)
      if (obj) {
        this.$set(this, 'localWork', Object.assign(this.localWork, obj.attributes));
      }
    },
    set_icon(icon_name){
      this.$set(this.localWork, 'icon', icon_name);
    },
    go_to_list(){
      this.$router.push('/works');
    },
    save_work(){
      console.log('save...', this.id);
      if (this.id) {
        this.update_work();
      } else {
        this.create_work();
      }
    },
    update_work(){
      this.$store.dispatch(
          'works/update_work',
          {
            id: this.id,
            params: {
              work: this.localWork,
            }
          }
      )
    },
    create_work(){
      this.$store.dispatch(
          'works/create_work',
          {
              work: this.localWork,
          }
      )
    },
  }
}
</script>

<style scoped>

</style>