<template lang="pug">
  nav#sidebar
    side_menu
</template>


<script>
import Side_menu from "./side_menu";


export default {
  components: {Side_menu},
  data() {
    return {}
  },
  methods: {
  }
}
</script>

<style scoped>
#sidebar {
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 999;
  background: #e5e8ea;
  /*color: #fff;*/
  transition: all 0.3s;
}
</style>