<template lang="pug">
  nav#side-menu
    b-list-group
      b-list-group-item
        profile_info
      b-list-group-item( v-for="item in items" @click="goto(item.link)"  class="menu-item")
        .d-flex.align-items-center
          .mr-2
            md_icon(:icon="item.icon")
          span {{item.title}}
      b-list-group-item( @click="sign_out" )
        .d-flex.align-items-center
          .mr-2
            md_icon(:icon="icons.sign_out")
          span Выйти

</template>


<script>
  import { mdiDotsVertical } from '@mdi/js'
  import { mdiBadgeAccountHorizontal } from '@mdi/js'
  import { mdiEmailMultipleOutline } from '@mdi/js'
  import { mdiChartBox } from '@mdi/js'
  import { mdiNewspaperVariantOutline } from '@mdi/js'
  import { mdiSkullScan } from '@mdi/js'
  import Profile_info from "../../../components/profile/profile_info";
  import Md_icon from "../md_icon";


  export default {
  components: {Md_icon, Profile_info},
  data() {
    return {
      icons: {
        sign_out: mdiSkullScan,
      },
      items: [
        {title: 'Сегодня', icon: mdiBadgeAccountHorizontal, link: '/'},
        {title: 'Слоги', icon: mdiEmailMultipleOutline, link: '/syllables'},
        {title: 'Задания', icon: mdiEmailMultipleOutline, link: '/quests'},
        // {title: 'Дела', icon: mdiChartBox, link: '/works'},
        // {title: 'Итоги дня', icon: mdiChartBox, link: '/profiles'},
        // {title: 'Настройки', icon: mdiDotsVertical, link: '/profiles'},
      ],
      right: null,
      syllables: [],
      }
  },
  methods: {
    goto(link){
      this.$router.push(link)
    },
    sign_out(){
      if (true) window.location = '/users/sign_out';
    },
  }
}
</script>

<style scoped>
 .menu-item{
   cursor: pointer;
 }
</style>