.col-lg-4.offset-lg-4
  - flash.each do |name, msg|
    = content_tag :div, msg, class: 'alert alert-warning mt-3'
  .card.mt-5
    .card-header
      h2 Новый пользователь
    .card-body
      = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        = render "users/shared/error_messages", resource: resource

        = f.input :email, autofocus: true, autocomplete: "email"
        = f.input :password, autocomplete: "new-password"
        = f.input :password_confirmation, autocomplete: "new-password"


        = f.submit "Зарегистрироваться", class: 'btn btn-primary'
      hr
      = render "users/shared/links"
